<div *ngIf="error$ | async as error"
  class="error-message">
  {{ error }}
</div>
<form (ngSubmit)="handleSubmit()"
  ngNativeValidate>
  <div style="display: flex; flex-direction: column; margin: auto; width: 50%;">
    <input [(ngModel)]="email"
      style="margin: 5px; padding: 5px;"
      type="email"
      name="email"
      placeholder="Please enter your name"
      required>
    <input [(ngModel)]="password"
      style="margin: 5px; padding: 5px;"
      type="password"
      name="password"
      placeholder="Please enter password here"
      required>
    <button [disabled]="loading$ | async"
      style="margin: 5px; padding: 5px;cursor: pointer;"
      type="submit">
      {{ (loading$ | async) ? 'Loading...' : 'Submit' }}
    </button>
  </div>
</form>
