.task {
  background: #e0dbdbcc;
  margin: 10px 5px;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;

  &.reminder {
    /* border-left: 5px solid rgb(0, 113, 128); */
    border-left: 5px solid steelblue;
  }
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
